.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  align-items: stretch;
  margin-block-start: 1rem;
}
m3e-card + m3e-card {
  margin: unset;
}
